/*=======================================
--------------DEFAULT THEME--------------
=======================================*/
$background: #fff;
$button-pink-text: #fff;
$darker-pink: #8b607e;
$light-pink: rgb(253, 208, 239);
$pink: #ab1a7c;
$white: #fff;

/*=======================================
---------------DARK THEME----------------
=======================================*/
$background-dark: rgb(115, 82, 103);
$button-pink-text-dark: #d3d1d1;
$light-pink-dark: rgb(168, 135, 158);
$pink-dark: rgb(106, 46, 86);
$white-dark: #e8e6e6;